/* ============================
   RESET E VARIÁVEIS
============================ */
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

:root {
  --font-family: 'Arial', sans-serif;
  --font-size-base: 16px;
  --font-size-p: 14px;


  --color-bg: #ffffff;
  --color-bg-borda: #fafafa;
  --color-placeholder: #f2f2f2;
  --color-card-bg: #ffffff;
  --color-button: #40746e;
  --color-text: black;

  --space-sm: 5px;
  --space-md: 8px;
  --space-lg: 24px;
  --max-width: 1200px;
}


/* ============================
   LAYOUT GERAL
============================ */

.grid {
  display: grid;
  grid-template-columns: 1fr;
}

.grid-coluns-2 {
grid-template-columns: 20% 80%;
}

.color {
  background-color: yellow;
}

body {
  
  font-family: var(--font-family);
  font-size: var(--font-size-base);
  background-color: var(--color-bg);
  line-height: var(--line-height);
  margin: 0 auto;
  min-height: 100vh;
  max-width: var(--max-width);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "header"
    "nav"
    "main"
    "aside"
    "footer";
}


/* ============================
   HEADER
============================ */
header {
  display: flex;
  flex-wrap: wrap;

}

header a {
  text-decoration: none;
  color: black;
  order: 1;
  font-size: var(--font-size-p);
 padding: 3px;

}

header input,
header button {
  order: 2;
  position: relative;
  margin: 5px;
  bottom: -10px;
  right: -20px;
  
}

header input {
  width: 135px;
  padding: var(--space-md);
  border-radius: 10px;
}

header input:focus {
  outline: none;
  border: 1.2px solid var(--color-button);
}

header button {
  height: auto;
  display: inline-block;
  vertical-align: middle;
  padding: 12px;
  margin: var(--space-sm);
  color: var(--color-button);
  border: 1px solid var(--color-button);
  border-radius: 10px;
}

header button:hover {
  cursor: pointer;
  color: white;
  background-color: var(--color-button);
  transform: scale(1.05);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

nav {
  margin: 15px;
}

nav p {
  font-size: var(--font-size-p);
  margin: 5px;
}

nav button {
  padding: var(--space-md);
  margin: var(--space-sm);
  border-radius: 5px;
}

nav button:first-of-type {
  color: white;
  background-color: var(--color-button);
}

nav button:last-of-type {
  border: 1px solid var(--color-button);
  color: var(--color-button);
  background-color: white;
}

nav img {
  width: 200px;
  margin: 5px;
  border-radius: 5px;
}

.cards h4:first-of-type {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  transform: translateX(-5px);
  margin: 10px;
  background-color: var(--color-card-bg);
  text-align: left;
  border: 1px solid var(--color-bg-borda);
  padding: 20px;
}

.cards h4:nth-last-child(2) {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  transform: translateX(-5px);
  margin: 10px;
  background-color: var(--color-card-bg);
  text-align: left;
  border: 1px solid var(--color-bg-borda);
  padding: 20px;
}

.cards h4:last-of-type {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  transform: translateX(-5px);
  margin: 10px;
  background-color: var(--color-card-bg);
  text-align: left;
  border: 1px solid var(--color-bg-borda);
  padding: 20px;
}

.lista-categorias p:first-of-type {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--color-bg-borda);
  background-color: var(--color-bg);
  margin-top: 10px;
  width: 100px;
  padding: 10px;
  text-align: center;
}

.lista-categorias p:nth-of-type(2) {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--color-bg-borda);
  background-color: var(--color-bg);
  margin-top: 10px;
  width: 100px;
  padding: 10px;
  text-align: center;
}


.lista-categorias p:nth-of-type(3) {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--color-bg-borda);
  background-color: var(--color-bg);
  margin-top: 10px;
  width: 120px;
  padding: 10px;
  text-align: center;
}

.lista-categorias p:nth-of-type(4) {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--color-bg-borda);
  background-color: var(--color-bg);
  margin-top: 10px;
  width: 100px;
  padding: 10px;
  text-align: center;
}

.lista-categorias p:nth-of-type(5) {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--color-bg-borda);
  background-color: var(--color-bg);
  margin-top: 10px;
  width: 100px;
  padding: 10px;
  text-align: center;
}

.lista-categorias p:nth-of-type(6) {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--color-bg-borda);
  background-color: var(--color-bg);
  margin-top: 10px;
  width: 100px;
  padding: 10px;
  text-align: center;
}

.lista-categorias p:nth-of-type(7) {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--color-bg-borda);
  background-color: var(--color-bg);
  margin-top: 10px;
  width: 100px;
  padding: 10px;
  text-align: center;
}

.lista-categorias p:nth-of-type(8) {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--color-bg-borda);
  background-color: var(--color-bg);
  margin-top: 10px;
  width: 100px;
  padding: 10px;
  text-align: center;
}

.lista-categorias p:nth-of-type(9) {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--color-bg-borda);
  background-color: var(--color-bg);
  margin-top: 10px;
  width: 100px;
  padding: 10px;
  text-align: center;
}


.lista-categorias p:last-of-type {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--color-bg-borda);
  background-color: var(--color-bg);
  margin-top: 10px;
  width: 100px;
  padding: 10px;
  text-align: center;
}

.title-destaque {
  margin: 5px;
}
.destaque {
  border: 3px solid var(--color-bg-borda);
  background-color: var(--color-bg);
  padding: var(--space-md);
}

.destaque img {
  width: 120px;
  margin-top: 5px;
}

.destaque-dois {
  border: 3px solid var(--color-bg-borda);
  background-color: var(--color-bg);
  padding: var(--space-md);
}

.destaque-dois img {
  width: 120px;
  margin-top: 5px;
}

aside {
  background-color: var(--color-bg-borda);
}
aside ul {
  border: 3px solid var(--color-bg-borda);
  background-color: var(--color-bg);
  padding: var(--space-md);
  list-style: disc;
  list-style-position: inside;
}

/* ============================
   CONTAINER
============================ */
.container {
  background-color: var(--color-bg-borda);
  border: 8px solid var(--color-bg-borda);
  outline: 5px solid var(--color-bg-borda);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
}

/* ============================
   FOOTER
============================ */
footer {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-md);
  padding: 5px;
  width: 100%;
  margin: 0 auto;
  max-width: var(--max-width);
}

footer h4 {
  padding: 15px;
  margin: 10px;
  border: 2px solid var(--color-placeholder);
  border-radius: 10px;
  max-height: 40px;
  width: 120px;
}

footer::after {
  content: "© 2025 Meu site • Meu Site";
  display: block;
  flex-basis: 100%;
  margin-top: 20px;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.4);
  pointer-events: none;
  text-align: left;
}

/* ============================
   MEDIA QUERIES
============================ */

/* --- TABLET --- */
@media (min-width: 768px) {
  header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: var(--space-md);
  }

   header input {
    padding: 10px;
  }
  header input, header button {
    position: relative;
    top: -2px;
    right: -120px;
    margin: 10px;
  }

  footer h4 {
    text-align: center;
    max-height: 80px;
    width: 100px;
    margin: 0 auto;
  }

  footer::after {
    display: block;
    text-align: start;
    margin-top: 20px;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.4);
  }
}

/* --- DESKTOP --- */
@media (min-width: 1024px) {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    padding: 24px 32px;
    background-color: var(--color-bg);
  }

  header a {
    font-size: 1rem;
    padding: 12px;
  }

   header input, header button {
    position: relative;
    top: -5px;
    right: -60px;
    margin: 5px;
    padding: 15px;
    width: 130px;
  }
  header input {
    width: 200px;
  }
 

  header button:hover {
    cursor: pointer;
    background-color: var(--color-button);
    color: white;
    transform: scale(1.05);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  }

  footer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 32px;
    background-color: var(--color-bg);
    gap: 16px;
    overflow-x: auto;
  }

  footer h4 {
    flex: 0 0 auto;
    max-width: 180px;
    text-align: center;
    padding: 12px;
    margin-top: -5px;
    background-color: #fff;
    border-radius: 8px;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  }

  footer::after {
    position: relative;
    top: 30px;
    content: "© 2025 Meu site • Meu Site";
    display: block;
    width: 100%;
    text-align: center;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.3);
    margin-top: 95px;
    padding-bottom: 16px;
  }
}


/* ============================
   PÁGINA TECHNO
============================ */

/* Estilo base */

.techno h4 {
  margin-top: 10px;
  font-size: 20px;
  margin-bottom: 10px;
}

.techno main  a {
  text-decoration: none;
  color: black;
  border: 2px solid var(--color-bg);
  background-color: var(--color-bg);
  border-radius: 15px;
}

.techno main .cards .card {
  background-color: var(--color-bg);
  border: 1px solid var(--color-bg-borda);
  width: 260px;
  margin: 15px;
}

.techno main .cards .card img {
  width: 260px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.techno main .cards .card h4 {
  background-color: var(--color-bg);
  position: relative;
  top: -20px;
}

.techno main .cards .card p {
  margin: 10px;
  position: relative;
  top: -20px;
}

.techno main button {
  position: relative;
  right: -90px;
  padding: 10px;
  color: var(--color-button);
  background-color: var(--color-bg);
  border-radius: 5px;
  border: 1px solid var(--color-button);
}

.techno main button:hover {
    cursor: pointer;
    background-color: var(--color-button);
    color: white;
    transform: scale(1.05);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}
/* --- TABLET --- */
@media (min-width: 768px) { 
  .techno main .cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-start;
  }

.techno main .cards .card {
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  border: 1px solid var(--color-bg-borda);
}


  .techno main button {
  position: relative;
  right: -320px;
  }

  .techno main .cards .card img {
    width: 200px;
  }
  
  .techno main .cards .card p {
  margin: 10px;
  position: relative;
  top: -20px;
}
}


/* ============================
   PÁGINA Destaques
============================ */



.destaques main {
  padding: 20px;
}

.destaques main a {
  text-decoration: none;
  color: black;
  border: 2px solid var(--color-bg);
  background-color: var(--color-bg);
  border-radius: 15px;
}

.destaques main .cards .card {
  background-color: var(--color-bg);
  border: 1px solid var(--color-bg-borda);
  width: 260px;
  margin: 15px;
}

.destaques main .cards .card img {
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.destaques main .cards .card h4 {
  background-color: var(--color-bg);
  position: relative;
  top: -20px;
}

.destaques main .cards .card p {
  margin: 10px;
  position: relative;
  top: -20px;
}

.destaques main button {
  position: relative;
  right: -90px;
  padding: 10px;
  color: var(--color-button);
  background-color: var(--color-bg);
  border-radius: 5px;
  border: 1px solid var(--color-button);
}

.destaques main button:hover {
  cursor: pointer;
  background-color: var(--color-button);
  color: white;
  transform: scale(1.05);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}


/* === TABLET === */
@media (min-width: 768px) {
  .destaques main .cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-start;
  }

  .destaques main .cards .card {
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    border: 1px solid var(--color-bg-borda);
  }

  .destaques main button {
    position: relative;
    right: -320px;
  }

  .destaques main .cards .card img {
    width: 200px;
  }

  .destaques main .cards .card p {
    margin: 10px;
    position: relative;
    top: -20px;
  }
}
